body{
	padding:0px;
	margin:0px;
	background-color: #425563;
	color: white;
	overflow: hidden;
	font-family: 'Muli', Arial, Helvetica, san-serif;
}

nav {
	background-color: white;
	text-align: center;
	color: #425563;
	padding: 0.5%;
	font-size: 2em;
	font-family: 'Open Sans';
	-webkit-text-stroke-width: 0.2px;
  	-webkit-text-stroke-color: #2f3640;
}

nav img{
	width:6.1em;
	vertical-align: text-bottom;
}

div{
	font-size: 1.5em;
	padding-top: 2%;
	top: 18%;
  	left: 25%;
  	position: relative;
}

div input{
	width: 30%;
	font-size: 1.2em;
}
div button{
	font-size: 1.2em;
}

iframe{
	top: 30%;
  	left: 25%;
	display: block;
	height: 70%;
	width: 50%;
	border: 4px solid black;
	position: absolute;
	overflow: hidden;
}